body{
    background: url(../images/clay-leconey-D6gB8bVu4PE-unsplash.jpg) no-repeat;
    font-family: 'Source Sans Pro', sans-serif;
    background-size: cover;
    background-attachment: fixed;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

h2{
    align-self: center;
    font-size: 2rem;
}

.productos{
    margin: 2rem 2rem;
    background-color: #fff;
    border-radius: 30px;
    border: 1px black solid;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sensor{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sensor *{
    display: flex;
    justify-content: center;
    padding: 0.5rem 3rem;
}

h3{
    font-size: 1.6rem;
    margin-bottom: -15px;
}

p{
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
}

.sensor img{
    height: 200px;
    width: 200px;
    align-self: center;
}